<div class="center">
   <%= link_to  image_tag("login_with_facebook.png", size: "300x50") , '/auth/facebook' %>   
</div>

<h4 class="center">OR</h2>

<div class="center container">
   <h5>Your Inventoried Account</h5><br>
</div>

<div class="container">
   <div class="container">
      <%= form_for @user, url: login_path do |f| %>
         <div class="input-field">
            <%= f.label :email, "Email" %>
            <%= f.email_field :email %><br>
         </div>
         
         <div class="input-field">
         <%= f.label :password, "Password" %>
         <%= f.password_field :password %><br><br>
         </div>
         
         <div class="center">   
            <%= f.submit "Log In", class: "btn brown darken-1" %>
         </div>
      <% end %>
   </div>
</div>