<h2>List of All Items across All Locations</h2>

<% if @items.empty? %>
   <p>You currently have no items.  Start by adding an item.</p>
<% else %>
   <% @items.each do |item| %>
   <h3><em>Item: <%= item.name %></em></h3>
      <table>
         <thead>
            <tr>
               <th>Location</th>
               <th>Qty</th>
            </tr>
         </thead>

         <tbody>
            <% item.location_items.each do |loc_item| %>
               <tr>  
                  <td><%= loc_item.location.name %></td>
                  <td><%= loc_item.quantity %></td>
               </tr>
            <% end %>
            <tr>
               <td><strong>Total:</strong></td>
               <td><strong><%= item.total_qty %></strong></td>
            </tr>
         </tbody>
      </table>
   <br>
   <% end %>
<% end %>

<%= link_to  "Go to List of Locations", locations_path %>
