<%= render partial: "layouts/breadcrumbs", locals: {
   breadcrumbs: [
      {url: items_path, name: "All Items"}
      ]
   } 
%>
<h2 class="center">List of All Items</h2>
<p class="center"><em>Across all your locations</em></p>
<div class="row">
   <div class="col s6 offset-s3 center">
      <%= form_tag items_path, method: :get do %>
         <%= text_field_tag 'query', nil, placeholder: 'Search for items by name here...'%>
         <%= submit_tag "Search", class: "btn brown darken-1" %>
         <%= link_to  "Reset", items_path, class: "btn red darken-1"%>
         <p>Sort: 
               <label>
               <input class="with-gap" name="order" type="radio" value="asc" checked />
               <span>Alphabetical (A-Z)</span>
               </label>
               <label>
               <input class="with-gap" name="order" type="radio" value="desc" />
               <span>Reverse Alphabetical (Z-A)</span>
               </label>
            </p>
      <% end %>
   </div>
</div>
<%# This should be refactored into a helper or a partial %>
<% if @items.empty? %>
   <p class="center">You currently have no items.  Start by adding an item.</p>
<% else %>
   <% if @no_results %>
     <p class="center"><font size="16" color="red"><em><strong><%= @no_results %></strong></em></font></p>
   <% end %>

   <% @items.each do |item| %>
   <div style="border: 3px solid #6D4C41;; padding: 1%">
      
   
   <h5><em>Item: <%= link_to item.name, item_path(item) %></em></h5>
      <table>
         <thead>
            <tr>
               <th>Location</th>
               <th>Qty</th>
            </tr>
         </thead>

         <tbody>
            <% item.location_items.each do |loc_item| %>
               <tr>  
                  <td> <%= link_to  loc_item.location.name, location_item_path(loc_item.location, item) %></td>
                  <td><%= loc_item.quantity %></td>
               </tr>
            <% end %>
            <tr>
               <td><strong>Total:</strong></td>
               <td><strong><%= item.total_qty %></strong></td>
            </tr>
         </tbody>
      </table>
   </div>
   <br>
   <% end %>

<% end %>
