<%# This needs refactored to support the show Items route -- this is the old partial for the location_items show route %>
<h2>Item Detail for: <%= @item.name %></h2>

<h4>Quantity in Stock at <%= @location.name %>: <%= @location_item.quantity %></h4>

<h4>Description:</h4>
<p><%= @item.description %></p>

<%= link_to  "Return to list of Items in #{@location.name}", location_items_path(@location) %>
<%= link_to  "Delete this item from this location", delete_location_item_path(@location, @item), method: :delete, data: {confirm: "Are you sure you want to delete all stock of this item from this location?"} %>