<%# This provides the breadcrumbs at the top of the page %>
<%= render partial: "layouts/breadcrumbs", locals: {
   breadcrumbs: [
      {url: items_path, name: "All Items"},
      {url: item_path(@item), name: "#{@item.name}"},
      {url: item_path(@item), name: "All Stock"}

      ]
   } 
%>

<h2 class="center"><%= @item.name %> Details</h2>
<div class="container">
<% if @item.description.present? %>
   <h5 class="center">Description:</h5>
   <p class="center"><%= @item.description %></p><br>
<% end %>
   <div class="container">
      <table>
         <thead>
            <tr>
               <th style="padding-left: 5%">Location</th>
               <th class="center">Qty</th>
            </tr>
         </thead>

         <tbody>
            <% @locations.each do |location| %>
               <tr>
                  <td style="padding-left: 5%"><%= link_to location.name, location_item_path(location, location.get_location_item(@item)) %></td>
                  <td class="center"><%= location.item_quantity(@item) %></td>
               </tr>
            <% end %>
            <tr>
               <td></td>
               <td></td>
            </tr>
            <tr>
               <td style="padding-left: 5%"><b>Total across all locations:</b></td>
               <td class="center"><b><%= @item.total_qty %></b></td>
            </tr>
         </tbody>
      </table>
   </div>
</div>