<%= form_for item, url: url do |f| %>
   <%= f.label :name, "Item Name: " %>
   <%= f.text_field :name %><br>
   <br>
   <%= f.label :description, "Description (Optional): " %>
   <%= f.text_area :description %><br>
   <br>
   <%= f.hidden_field :user_id %>

   <%= fields_for location_item do |loc_item| %>
      <%= loc_item.hidden_field :location_id %>
      <div class="row">
         <%= loc_item.label :quantity, "Quantity: " %>
         <%= loc_item.number_field :quantity, step: 1 %>
      </div>
   <% end %>
   <div class="center">
      <%= f.submit(class: "btn brown darken-1") %>
   </div><br>
<% end %>