<%= render partial: "layouts/breadcrumbs", locals: {
   breadcrumbs: [
      {url: locations_path, name: "Locations"}, 
      {url: location_path(@location), name: @location.name}
      ]
   } 
%>
<h2 class="center"><%= @location.name %></h2>
<div class="center">
   <%= link_to  "Add Item to #{@location.name}", new_location_item_path(@location), class: "btn brown darken-1" %>
   <%= link_to  "Edit Location Name", edit_location_path(@location), class: "btn brown darken-1" %>
   <%= link_to  "Delete", location_path(@location), method: :delete, data: { confirm: "Are you sure you want to delete #{@location.name}?" }, class: "btn brown darken-1" %>         
</div><br>

<% if @location_items.empty? %>
   <h6 class="center">
      You currently have no items at this location to display.<br>
      Click on the Add Item to <%= @location.name %> button.
   </h6>
<% else %>
   <table class="striped">
      <thead>
      <tr>
         <th style="padding-left: 5%">Item Name</th>
         <th class="center">Qty</th>
         <th></th>
         <th></th>
         <th></th>
      </tr>
      </thead>
      <tbody>
      <% @location_items.each do |loc_item| %>
         <tr>
            <td style="padding-left: 5%"><%= loc_item.item.name %></td>
            <td class="center"><%= loc_item.quantity %></td>
            <td class="center"><%= link_to "View", location_item_path(@location, loc_item), class: "btn brown darken-1" %></td>
            <td class="center"><%= link_to "Edit", edit_location_item_path(@location, loc_item), class: "btn brown darken-1" %></td>
            <td class="center"><%= link_to "Delete", delete_location_item_path(@location, loc_item), method: :delete, data: { confirm: "Are you sure you want to delete #{loc_item.item.name} and all its stock from #{@location.name}?" }, class: "btn red darken-2" %></td>
         </tr>
      <% end %>
      </tbody>
   </table>
<% end %> 