<h2 class="center"><%= @location.name %></h2>
<div class="center">
   <%= link_to  "Edit Location Name", edit_location_path(@location), class: "btn brown darken-1" %>
   <%= link_to  "Delete", location_path(@location), method: :delete, data: { confirm: "Are you sure you want to delete #{@location.name}?" }, class: "btn brown darken-1" %>         
</div>

<%# I should turn this into a table later - refactor %>
<h4>List of Items in this location</h4>
<ul>
   <% if @items.empty? %>
      <p>There are currently no items in this location</p>
   <% else %>
      <% @items.each do |item| %>
         <li><%= link_to  item.name, location_item_path(@location, item) %>, Qty: <%= @location.item_quantity(item) %></li>
      <% end %>   
   <% end %>
</ul>

<%= link_to  "Add Item to #{@location.name}", new_location_item_path(@location) %>
<%= link_to  "Return to List of Locations", locations_path %>
