<h2 class="center">Locations</h2>
<%# refactor - need to make this into a table eventually %>
<div class="center">
   <%= link_to  "Add a New Location", new_location_path, class: "btn brown darken-1" %>
</div><br>
<% if @locations.empty? %>
   <h6 class="center">
      You currently have no locations to display.<br>
      Click on the Add a New Location button.
   </h6>
<% else %>
   <table class="striped">
      <thead>
      <tr>
         <th class="center">Locations</th>
      </tr>
      </thead>
      <tbody>
      <% @locations.each do |location| %>
         <tr>
            <td><%= location.name %></td>
            <td><%= link_to "View", location_items_path(location), class: "btn brown darken-1" %></td>
            <td><%= link_to  "Edit", edit_location_path(location), class: "btn brown darken-1" %></td>
            <td><%= link_to  "Delete", location_path(location), method: :delete, data: { confirm: "Are you sure you want to delete #{location.name}?" }, class: "btn brown darken-1" %></td>
         </tr>
      <% end %>
      </tbody>
   </table>
<% end %> 


