<!DOCTYPE html>
<html>
  <head>
    <title>Inventoried</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= form_tag logout_path, method: :delete do %>
      <%= submit_tag "Logout" %>
    <% end %>

    <% if flash[:notify].present? %>
      <%= flash[:notify] %>
    <% end %>
    <%= yield %>
  </body>
</html>
