<!DOCTYPE html>
<html>
  <head>
    <title>Inventoried</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <% if flash[:notify].present? %>
      <%= flash[:notify] %>
    <% end %>
    <%= yield %>
  </body>
</html>
