<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!-- Compiled and minified CSS for MaterializeCSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    
    
    
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <%= favicon_link_tag %>
    
    <!-- Custom CSS Styles -->
    <style>
      .navbuffer {
        padding-right: 5%;
        padding-left: 5%;
      }
 
      .flash-notice {
        display: inline;
        border-radius: 15px;
        padding: 10px; 
      }
      
      #toast-container {
        min-width: 10%;
        right: 50%;
        transform: translateX(50%) translateY(50%);
      }
    </style>
    
    <title>Inventoried</title>

  </head>
  <body>
    <nav>
      <div class="nav-wrapper brown darken-1 navbuffer">
        <a href="<%= root_path %>" class="brand-logo">            
        <i class="material-icons" style="font-size: 50px">playlist_add_check</i>Inventoried</a>
        <a data-target="mob-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <% if is_logged_in? %>
            <li><%= link_to  "Locations", locations_path, class: "waves-effect waves-light btn brown darken-3 white-text text-darken-2" %></li>      
            <li><%= link_to  "Items", items_path, class: "waves-effect waves-light btn brown darken-3 white-text text-darken-2" %></li>     
            <li><%= link_to  "Logout", logout_path, method: :delete, class: "waves-effect waves-light btn brown darken-3 white-text text-darken-2" %></li>
          <% else %>
            <li><a class="waves-effect waves-light btn brown darken-3 white-text text-darken-2" href="<%= signup_path %>">Signup</a></li>  
            <li><a class="waves-effect waves-light btn brown darken-3 white-text text-darken-2" href="<%= login_path %>">Login</a></li>    
          <% end %>
        </ul>
      </div>
    </nav><br>
    <ul class="sidenav" id="mob-nav">
      <% if is_logged_in? %>
        <li><%= link_to  "Locations", locations_path, class: "waves-effect waves-light btn brown darken-3 white-text text-darken-2 sn-btn" %></li>      
        <li><%= link_to  "Items", items_path, class: "waves-effect waves-light btn brown darken-3 white-text text-darken-2 sn-btn" %></li>     
        <li><%= link_to  "Logout", logout_path, method: :delete, class: "waves-effect waves-light btn brown darken-3 white-text text-darken-2 sn-btn" %></li>
      <% else %>
        <li><a class="waves-effect waves-light btn brown darken-3 white-text text-darken-2 sn-btn" href="<%= signup_path %>">Signup</a></li>  
        <li><a class="waves-effect waves-light btn brown darken-3 white-text text-darken-2 sn-btn" href="<%= login_path %>">Login</a></li>    
      <% end %>
    </ul>
    <div class="container">  
      <% if flash[:notify].present? %>  
        <script> 
          M.toast({html: "<%= flash[:notify] %>", classes: 'rounded green lighten-1 white-text flash-notice'});
        </script>
      <% end %>
      
      <% if flash[:alert].present? %>
        <script>
          M.toast({html: "<%= flash[:alert] %>", classes: 'rounded red lighten-1 white-text flash-notice', displayLength: 10000});
        </script>        
      <% end %>

      <%= yield %>
      <br>

      <% if is_logged_in? %>
        <p class="center">You are currently logged in as: <%= current_user.email %> </p>
      <% else %>
        <p class="center">You are currently not logged in.</p>
      <% end %>
    </div>

    <script>
      // This script enables materialize select dropdowns to work
        $(document).ready(function(){
           $('select').formSelect();
        });
        $(document).ready(function(){
          $('.sidenav').sidenav();
        });
      // This enables initial sidenav for mobile to work
        // $(document).ready(function(){
        //   const sideNavButtons = document.querySelectorAll(".sn-btn")
        //   sideNavButtons.forEach(btn => {
        //     btn.addEventListener("click", () => $('.sidenav').sidenav())
        //   }) 
        //   $('.sidenav').sidenav();
        // });
      // THERE IS A BUG HERE WITH RE-INITIALIZATION OF THIS ON EACH PAGE
      // MY STRATEGY WAS TO (ON INITIALIZATION) ADD EVENT LISTENERS ON EACH OF THE 
      // SIDE NAV BUTTONS SO THAT WHEN CLICKED IT RUNS THE INITIALIZATION AGAIN.
      // THINK THIS NEEDS TO BE FIXED.  
    </script>
    <script>
      
    </script>
  </body>
</html>
