<!DOCTYPE html>
<html>
  <head>
    <title>Inventoried</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to  "Logout", logout_path, method: :delete %>


    <% if flash[:notify].present? %>
      <%= flash[:notify] %>
    <% end %>
    <%= yield %>
    <br>
    <% if session[:user_id].present? %>
      <p>You are currently logged in as: User ID: <%= session[:user_id] %> </p>
    <% else %>
      <p>You are currently not logged in.</p>
    <% end %>
  </body>
</html>
